.greetingForm {

}

.inputAndButtonContainer {
    display: flex;

}

.error {
    color: red;
}

.input {
}

.input:focus {
}

.errorInput {
    border-color: red !important; /* Для переопределения стилей Material-UI */
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
